.movingObject {
    display: inline-block;
    height: auto;
    width: 300px;
    min-height: 50px;
}

#innerfrst {
    background-color: #555555;
}

#innerscnd {
    background-color: #9C1A1C;
}
.moveable {
    font-size: 2rem;
    height: auto;
    width: fit-content;
}

#innerthrd {

    background-color: #A5D6D9;
}

#innerfrth {


    background-color: hotpink;
}

#big-container {
    height: auto;
    width: auto;
    padding: 16px;
    background-color: mediumspringgreen;
}
.cardsplace {
    height: auto;
    width: auto;
    padding: 20px;
    background-color: peachpuff;
    display: inline;

}