<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/callback.css">
    <script src="/static/callback.js" defer></script>
    <title>Callback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div id="callback"><h1 id="firstE">First excersise</h1>
    <div id="visitedContainer"><p id="inline">Visitors: </p>
        <div id="counter"></div>
    </div>
</div>
<div id="secondCallback"><h1>Second excersise</h1><img
        src="https://codecool.gitlab.io/codecool-curriculum/media/web-python/traffic-example.jpg" alt="traffic"><br>
    <h2 class="second-excersise">Choose car for check the order: </h2>
    <input class="input" id="carInput" type="text" placeholder="Type A or B or T here..">
    <button onclick="carOrder()">Check</button>
    <div id="carsContainer"></div>
</div>
<div id="guessGameContainer"><h1>Guessing 27</h1>
    <h3>Hit the stop button, in the 27th sec.😉</h3><button onclick="timerStart()">Start</button><button onclick="stopTimer()">Stop</button><div id="stoppedTime"></div>
<p>(Click the start button to start the game, and then hit the stop button, when you feel this is the 27th sec)</p></div>
</body>
</html>