<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"
            integrity="sha256-ug4bHfqHFAj2B5MESRxbLd3R3wdVMQzug2KHZqFEmFI=" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="/static/dragula.css">
    <script src="/static/dragula.js" defer></script>
</head>
<body>

<div id="left" class="movingObject">
    <div class="moveable">Left</div>
    <div class="moveable">roll</div>
    <div class="moveable">over</div>
    <div class="moveable">here</div>
</div>
<div id="right" class="movingObject">
    <div class="moveable">Right</div>
    <div class="moveable">game</div>
    <div class="moveable">hexagon</div>
    <div class="moveable">wevo</div>
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Hugging_Face_Emoji_2028ce8b-c213-4d45-94aa-21e1a0842b4d_large.png?v=1480481059">
</div>
<div id="rightup"><h2>sajt</h2></div>

</body>
</html>