    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" deferc></script>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" defer></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"
                integrity="sha256-ug4bHfqHFAj2B5MESRxbLd3R3wdVMQzug2KHZqFEmFI=" crossorigin="anonymous" defer></script>
        <link rel="stylesheet" href="/static/dragula.css">
        <script src="/static/dragula.js" defer></script>
    </head>
    <body>
    <div id="big-container">
        <div id="first" class="cardsplace">
            <ul id="innerfrst" class="movingObject">
                <li class="moveable">Left</li>
                <li class="moveable">roll</li>
                <li class="moveable">over</li>
                <li class="moveable">here</li>
                <li class="moveable">tight</li>
                <li class="moveable">drag</li>
                <li class="moveable">kóbász</li>
                <li class="moveable">nondualist</li>
            </ul>
        </div>
        <div id="second" class="cardsplace">
            <ul id="innerscnd" class="movingObject">
                <li class="moveable">Right</li>
                <li class="moveable">game</li>
                <li class="moveable">hexagon</li>
                <li class="moveable">wevo</li>
            </ul>
        </div>
        <div id="third" class="cardsplace">
            <ul id="innerthrd" class="movingObject"></ul>
        </div>
        <div id="fourth" class="cardsplace">
            <ul id="innerfrth" class="movingObject"></ul>
        </div>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Switch to drag to the content of the card</label>
    </div>
    </body>
    </html>