<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/modulo.css">
    <script type="module" type="text/javascript" src="/static/lib.js"></script>
    <script src="/static/main.js"></script>

    <title>Modulo</title>
</head>
<body>
<div class="three" id="first">
    <div class="relative"><p><span></span><span></span><span></span><span></span>Repeat</p></div>
</div>
<div class="three" id="second">
    <div class="relative"><p><span></span><span></span><span></span><span></span>Shout</p></div>
</div>
<div class="three" id="third">
    <div class="relative"><p><span></span><span></span><span></span><span></span>Simon</p></div>
</div>
<div id="repeat"><input id="repeatinput" type="text" placeholder="type..">
    <button onclick="repeatfunc()">show</button>
</div>
<div id="shout"></div>
<div id="simon"></div>
</body>
</html>