{% extends "layouts.html" %}

{% block body %}

<p class="pgraph">This site is all about Techno, and after. WE can call it techno instagram🖤
    <br>I started to develop by myself, so it could have some nice bugs:/, but it's safe. Everybody is warmly welcome to use this site, even if you're unlogged.
    <br>You can upload your photo to <a href="https://imgur.com/" target="_blank">IMGUR</a> first, and then send us the link from your picture. That is because we don't want to store your images in our <br>But for real, i created this for my personal develop, and i can do all the codecool assignement. Instead of create many small folder, files, scripts separetly, i hold it together, and hopefuly it's easier to maintance and stuff like that. As i do a steps, check the mentors respond.


<em>Sano</em></p>

{% endblock %}